.forgotPassword{
  display: flex;
  justify-content: center;
}

.forgotPassword__container{
  margin: 20px;
  display: flex;
  flex-direction: column;
  .forgotPassword__title{
    font-weight: 500;
    font-size: 25px;
  }
  .forgotPassword__text{
    padding: 20px 0;
  }
  .email__forgotPassword{
    border: 1px solid $fontColor;
    height: 30px;
    max-width: 400px;
    text-align: start;
  }
  .submit__forgotPassword{
    padding: 15px;
    background-color: $green;
    color: white;
    font-size: 20px;
    max-width: 100px;
    margin-top: 10px;
  }
}